/* Applied to whole website */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}
#header1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../image/Bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 17px rgb(212, 142, 11);
    /* border: 2px solid black; */
}
nav{
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    text-transform: uppercase;
    transition: all 1s ease;
    position: sticky;
    top: 0px;
}
.logo{
    width: 15%;
    text-align: center;
    color: rgb(212, 142, 11);
    font-size: 100%;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 1px 5px black;
    /* color: #00b894; */
    /* background: red; */
}
.logo::after{
    
    content: 'lambda';
    font-size: 7px;
    color: rgb(212, 142, 11);
    border: 1px solid rgb(212, 142, 11);
    border-radius: 8px;
    padding: 2px;
    position: relative;
    left: 45px;
    bottom: 60px;
}
nav .menu{
    width: 50%;
    margin: 10px;
    /* background: yellow; */
    display: flex;
    justify-content: space-around;
    /* cursor: pointer; */
}
nav .menu a:hover{
    color: rgb(245, 195, 101);
    cursor: pointer;
}
nav .menu a{
    /* width: 25%; */
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav .menu a:first-child{
    color: rgb(212, 142, 11);
    
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}

section h3::before{
    content:'Be A';
    font-size: 15px;
    position: relative;
    bottom: 85px;
    left: 33px;
    color: rgb(212, 142, 11);
    text-shadow: 1px 1px 4px black;
}
section h3{
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 3px;
    text-shadow: 2px 1px 5px black;
    color: white;
    font-family: 'Amatic SC', cursive;
    /* letter-spacing: 6px; */
    /* animation: infinite; */
}
section h1{
    margin:30px 0 20px 0; 
    font-size: 25px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}
section p{
    font-size: 20px;
    color: #eee;
    word-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
}
section a{
 padding: 12px 30px;
 border-radius: 4px;
 outline: none;
 text-transform: uppercase;
 font-size: 13px;
 font-weight: 500;
 text-decoration: none;
 letter-spacing: 1px; 
 transition: all .5s ease;  
}
section .btn1{
    background:#fff;
    color: black;
}
.btn1:hover{
    background:rgb(245, 195, 101);
    color: white;
}
section .btn2{
    background:rgb(212, 142, 11);
    color: white;
}
.btn2:hover{
    background:rgb(245, 195, 101);
    color: rgb(212, 142, 11);
}
.change_content:after{
    /* width: 1000px; */
  content:'';
  animation: changetext 10s infinite linear;
  color: rgb(212, 142, 11);
}
.welcome{
    font-size: 20px;
}

@keyframes changetext{
    0%{content:"Subjects";}
    5%{content:"Government";}
    10%{content:"Religion";}
    15%{content:"Solar System";}
    20%{content:"Disease";}
    25%{content:"Fauna";}
    30%{content:"Flora";}
    35%{content:"Capital City";}
    40%{content:"Lakes";}
    45%{content:"Mountains";}
    50%{content:"Websites";}
    55%{content:"Courses";}
    65%{content:"Skills";}
    70%{content:"State";}
    75%{content:"Empire";}
    80%{content:"Golden Age";}
    85%{content:"Revolution";}
    90%{content:"Assassinations";}
    95%{content:"Languages";}
    100%{content:"Currency";}
    
}
#footerSection{
    /* background-color: rgba(0,0,0,0.2); */
    background-color: rgba(212, 142, 11,1);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* width: 90%; */
    box-shadow: 0px 0px 17px rgb(212, 142, 11);
}

.contact a{
    text-decoration: none;
    margin: 7px;
    justify-content: center;
}
.contact {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.fiverr{
    font-weight: 900;
    color: rgb(4, 87, 4);
}
.fiverr::after{
    content: '.';
    color: black;
    font-size: 70px;
}
.linkedIn{
    font-weight: 900;
    color: blue;
}
.linkedIn::after{
    background-color: blue;
    color: white;
    border-radius: 8px;
    content: 'in';
    font-weight: 900;
    padding: 0px 4px;
}
.YouTube{
    font-weight: 900;
    color: black;
}
.YouTube::after{
    content: 'Tube';
    background-color: red;
    border-radius: 8px;
    color: white;
    padding: 0px 4px;
}
.info1{
    padding: 4px;
    text-decoration: none;
}
.info1 a{
    color: white;
    text-decoration: none;
    margin: 10px 15px;
    font-weight: 800;
    font-size: smaller;
}
.info2{
    /* color: white; */
    margin: 4px;
    padding: 4px;
}
.info2 a{
    font-weight: 800;
    margin: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: smaller;
    }
.copyright{
padding: 40px;

    }
    #header2{
        height: 100%;
    }
    .profile{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 15px;
        margin: 20px;
        color: rgb(212, 142, 11);
        /* background-color: rgba(0,0,0,0.2); */
        /* border: 2px solid rgb(212, 142, 11); */
        border-radius: 9px;
        height: 80%;
        width: 90%;
        box-shadow: 0px 0px 17px rgb(212, 142, 11);
    }
    
    .image{
        margin-left: 0px;
        margin-right: 20px;
        padding-left: 0px;
        padding-right: 150px;
    }
    p{
    margin: 12px 0px 50px 0px;
    }
    .hireMe{
        margin: 15px;
        background-color: rgb(212, 142, 11);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: white;
        padding: 10px;
        border-radius: 15px;
        font-size: small;
        transition: all 0.5s ease;
    }
    .hireMe:hover{
        background-color: rgb(245, 195, 101);
    }
    
    nav{
        width: 100%;
        height: 15vh;
        background: rgba(0,0,0,0.2);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center ;
        text-transform: uppercase;
        transition: all 1s ease;
        position: sticky;
        top: auto;
    }
  
    nav .menu{
        width: 50%;
        margin: 10px;
        /* background: yellow; */
        display: flex;
        justify-content: space-around;
        /* cursor: pointer; */
    }
   
   
    #about{
        color: rgb(212, 142, 11);
        
    }
    main{
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    
    }